* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", "Inter", sans-serif;
}

:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
    --dark: #121214;

    --title: #313131;
    --text: #B6B6B6;
}

body {
    background: var(--dark);
    color: var(--white);
    width: 100%;
}

