* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", "Inter", sans-serif;
}

:root {
    --blue: #3EA1DB;
    --blue_dark: #574AE8;
    --white: #FFF;

    --title: #313131;
    --text: #B6B6B6;

    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

body {
    //font: 400 1.6rem "Lexend Deca", sans-serif;
    background: var(--linear);
    display: flex;
}